<p-dialog
  (onShow)="onDialogShow()"
  (onHide)="onDialogHide()"
  [header]="dialogHeader"
  [(visible)]="displayDialog"
  [modal]="true"
  [style]="{ width: dialogWidth() }"
>
  <div [ngSwitch]="formName">
    <div *ngSwitchCase="'addAgencyForm'">
      <app-add-agency></app-add-agency>
    </div>
    <div *ngSwitchCase="'agencyDetailsForm'">
      <app-agency-details></app-agency-details>
    </div>

    <div *ngSwitchCase="'addCaptainForm'">
      <app-add-captain></app-add-captain>
    </div>

    <div *ngSwitchCase="'captainDetailsForm'">
      <app-captain-details></app-captain-details>
    </div>

    <div *ngSwitchCase="'addLocalForm'">
      <app-add-local></app-add-local>
    </div>

    <div *ngSwitchCase="'localDetailsForm'">
      <app-local-details></app-local-details>
    </div>

    <div *ngSwitchCase="'localPasswordForm'">
      <app-local-password></app-local-password>
    </div>

    <div *ngSwitchCase="'addBrandForm'">
      <app-add-brand></app-add-brand>
    </div>

    <div *ngSwitchCase="'addGroupForm'">
      <app-add-group></app-add-group>
    </div>

    <div *ngSwitchCase="'addCategoryForm'">
      <app-add-category></app-add-category>
    </div>

    <div *ngSwitchCase="'groupDetailsForm'">
      <app-group-details></app-group-details>
    </div>

    <div *ngSwitchCase="'brandDetailsForm'">
      <app-brand-details></app-brand-details>
    </div>

    <div *ngSwitchCase="'categoryDetailsForm'">
      <app-category-details></app-category-details>
    </div>

    <div *ngSwitchCase="'shipDiscountForm'">
      <app-ship-discount></app-ship-discount>
    </div>

    <div *ngSwitchCase="'overtimeDiscountForm'">
      <app-overtime-discount></app-overtime-discount>
    </div>

    <div *ngSwitchCase="'addPortForm'">
      <app-add-port></app-add-port>
    </div>

    <div *ngSwitchCase="'portDetailsForm'">
      <app-port-details></app-port-details>
    </div>

    <div *ngSwitchCase="'shipServicesForm'">
      <app-ship-services></app-ship-services>
    </div>

    <div *ngSwitchCase="'overtimeServicesForm'">
      <app-overtime-services></app-overtime-services>
    </div>

    <div *ngSwitchCase="'boatServicesForm'">
      <app-boat-services></app-boat-services>
    </div>

    <div *ngSwitchCase="'craneServicesForm'">
      <app-crane-services></app-crane-services>
    </div>

    <div *ngSwitchCase="'addHolidayForm'">
      <app-add-holiday></app-add-holiday>
    </div>

    <div *ngSwitchCase="'holidayDetailsForm'">
      <app-holiday-details></app-holiday-details>
    </div>

    <div *ngSwitchCase="'arrivalForm'">
      <app-arrival></app-arrival>
    </div>

    <div *ngSwitchCase="'editArrivalForm'">
      <app-edit-arrival></app-edit-arrival>
    </div>

    <div *ngSwitchCase="'deleteArrivalForm'">
      <app-delete-arrival></app-delete-arrival>
    </div>

    <div *ngSwitchCase="'departureForm'">
      <app-departure></app-departure>
    </div>

    <div *ngSwitchCase="'checkoutTripForm'">
      <app-checkout-trip></app-checkout-trip>
    </div>

    <div *ngSwitchCase="'payShipForm'">
      <app-pay-ship></app-pay-ship>
    </div>

    <div *ngSwitchCase="'payCraneForm'">
      <app-pay-crane></app-pay-crane>
    </div>

    <div *ngSwitchCase="'cranePaymentsForm'">
      <app-crane-payments></app-crane-payments>
    </div>

    <div *ngSwitchCase="'craneDetailsForm'">
      <app-crane-details></app-crane-details>
    </div>

    <div *ngSwitchCase="'addCraneForm'">
      <app-add-crane></app-add-crane>
    </div>

    <div *ngSwitchCase="'addManualPaymentForm'">
      <app-add-manual-payment></app-add-manual-payment>
    </div>

    <div *ngSwitchCase="'manualPaymentDetailsForm'">
      <app-manual-payment-details></app-manual-payment-details>
    </div>
  

    <div *ngSwitchDefault>
      <p>Not a valid form</p>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <p-button
      #button
      [disabled]="!formIsValid"
      icon="pi pi-check"
      (click)="submitForm(button)"
      label="{{ 'Submit' | translate }}"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>
