.card-wrapper {
  padding: 32px 16px;
}

.table-card {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.9);
  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.card-header {
  color: #44486d !important;
  line-height: 24px;
  margin-bottom: 1.5rem;
  justify-content: space-between;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.header-buttons-container {
}

.datatable-container {
  position: relative;
}

.datatable-wrapper {
  box-sizing: border-box;
}

.datatable {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

thead {
  tr {
    th {
      border-radius: 6px;
      cursor: pointer;
      text-align: left;
      padding: 0.571rem 0.571rem;
      border: 1px solid rgba(68, 72, 109, 0.17);
      border-width: 0 0 1px 0;
      font-weight: 500;
      color: #8a8ea6;
      background: transparent;
      transition: box-shadow 0.2s;

      &:hover {
        background: rgba(68, 72, 109, 0.07);
        color: #8a8ea6;
      }
    }
  }
}

.th-content {
  align-items: center !important;
  justify-content: space-between !important;
  display: flex;
}

tbody {
  tr {
    background: transparent;
    color: #44486d;
    transition: box-shadow 0.2s;
    outline-color: #0f8bfd;
    cursor: pointer;
    &:hover {
      background: rgba(68, 72, 109, 0.07);
      color: #44486d;
    }

    td {
      cursor: auto;
      text-align: left;
      border: 1px solid rgba(68, 72, 109, 0.17);
      border-width: 0 0 0 0;
      padding: 0.429rem 0.571rem;

      .td-text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      &:first-child {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
      }

      &:last-child {
        text-align: center;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
  }
}

.more-button {
  cursor: pointer;
  &:hover {
    color: rgba(33, 150, 243, 0.9);
  }
}

.align-center {
  text-align: center !important;
}

.search-container {
  height: 38px;
  flex: 1;
  input {
    width: calc(100% - 100px);
    background: rgba(68, 72, 109, 0.07) !important;
    height: 38px;
    outline: 0;
    border: 0;
    padding-left: 1rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    &::placeholder {
      color: #495057;
      font-size: 16px;
    }
  }

  button {
    height: 38px;
    border-radius: 0 4px 4px 0;
  }
}

.none {
  display: none !important;
}

.false {
  color: rgb(252, 97, 97);
}

.true {
  color: rgb(11, 209, 138);
}
