<p-toolbar styleClass="toolbar">
  <!-- <div class="breadcrumb">{{ breadcrumbConverter() | uppercase }}</div> -->

  <div class="logo">
    <img src="../../../assets/logo/logo-2.png" alt="logo" />

    <span>LIOS V3.0</span>
  </div>
  <!-- <h1 class="app-name">LIOS V3.0</h1>

  <img src="../../../assets/logo/logo-2.png" alt="logo"  class="app-logo"/> -->

  <div class="toolbar-buttons">
    <p-button styleClass="p-button-text" (click)="menu.toggle($event)">
      <ng-template pTemplate="content">
        <img
          alt="logo"
          [src]="flag"
          style="border-radius: 4px; height: 1.5rem; width: 1.5rem"
        />
      </ng-template>
    </p-button>

    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-dollar"
      class="p-button-rounded p-button-text p-button-plain toolbar-icon-button"
      (click)="visibleSidebar.emit()"
      pTooltip="Update Currency"
      tooltipPosition="bottom"
    ></button>

    <button
      pButton
      pRipple
      pTooltip="Log Out"
      type="button"
      icon="pi pi-sign-out"
      tooltipPosition="bottom"
      class="p-button-rounded p-button-text p-button-plain toolbar-icon-button"
    ></button>

    <p-menu styleClass="language-menu" #menu [popup]="true" [model]="languages">
    </p-menu>
  </div>
</p-toolbar>
