<p-toolbar styleClass="toolbar">
  <!-- <div class="p-toolbar-group-left">
      <p-button label="New" icon="pi pi-plus"></p-button>
      <p-button label="Upload" icon="pi pi-upload" styleClass="p-button-success"></p-button>

      <i class="pi pi-bars"></i>


  </div> -->

  <div class="logo">
    <img src="../../../assets/logo/logo-2.png" alt="logo" />

    <span>LIOS V3.0</span>
  </div>

  <div class="toolbar-buttons">



    <button
      type="button"
      pButton
      pRipple
      icon="pi pi-bars"
      class="p-button-rounded p-button-text p-button-plain toolbar-icon-button"
      (click)="menu.toggle($event)"
    ></button>

    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-dollar"
      class="p-button-rounded p-button-text p-button-plain toolbar-icon-button"
      (click)="visibleSidebar.emit()"
    ></button>

    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-sign-out"
      class="p-button-rounded p-button-text p-button-plain toolbar-icon-button"
    ></button>

    <p-menu
      styleClass="language-menu"
      #menu
      [popup]="true"
      [model]="languages"
    >


  </p-menu>
  </div>

</p-toolbar>
