<div [formGroup]="form" class="form-container" *ngIf="form">
  <div class="input-container">
    <span class="p-float-label">
      <input formControlName="name" type="text" pInputText />
      <label>{{ "Name" | translate }}</label>
    </span>
    <small *ngIf="checkValidity('name')" class="p-error">{{
      "Invalid input." | translate
    }}</small>
  </div>

  <div class="input-container">
    <span class="p-float-label">
      <p-dropdown
        [options]="months"
        formControlName="month"
        placeholder=" "
      ></p-dropdown>

      <label>{{ "Month" | translate }}</label>
    </span>
    <small *ngIf="checkValidity('month')" class="p-error">{{
      "Invalid input." | translate
    }}</small>
  </div>

  <div class="input-container">
    <span class="p-float-label">
      <p-dropdown
        [options]="days31"
        formControlName="day"
        placeholder=" "
      ></p-dropdown>
      <label>{{ "Day" | translate }}</label>
    </span>
    <small *ngIf="checkValidity('day')" class="p-error">{{
      "Invalid input." | translate
    }}</small>
  </div>

  <div class="input-container">
    <span class="p-float-label">

      <p-calendar
      formControlName="startHour"
      [timeOnly]="true"
      placeholder="Start Hour"
      inputId="timeonly"
      appendTo="body"
      ></p-calendar>

      <label>{{ "Start Hour" | translate }}</label>
    </span>

    <small *ngIf="checkValidity('startHour')" class="p-error">{{
      "Invalid input." | translate
    }}</small>
  </div>

  <div class="input-container">
    <span class="p-float-label">

      <p-calendar
      formControlName="endHour"
      [timeOnly]="true"
      inputId="timeonly"
      placeholder="End Hour"
      appendTo="body"
      ></p-calendar>

      <label>{{ "End Hour" | translate }}</label>
    </span>
    <small *ngIf="checkValidity('endHour')" class="p-error">{{
      "Invalid input." | translate
    }}</small>
  </div>
</div>
