<div [formGroup]="form" class="form-container" *ngIf="form">
  <div class="input-container">
    <span class="p-float-label">
      <input formControlName="amount" type="number" pInputText />
      <label>{{ "Amount" | translate }}</label>
    </span>
    <small *ngIf="checkValidity('amount')" class="p-error">{{
      "Invalid input." | translate
    }}</small>
  </div>

  <div class="input-container">
    <p-autoComplete
      formControlName="agency"
      [suggestions]="filteredAgencies"
      (completeMethod)="filterAgencies($event)"
      field="name"
      [dropdown]="true"
      appendTo="body"
      [placeholder]="translate.instant('Agency')"
    >
      <ng-template let-item pTemplate="item">
        <div class="country-item">
          <div>{{ item.name }}</div>
        </div>
      </ng-template>

      <small *ngIf="checkValidity('agencyId')" class="p-error">{{
        "Invalid input." | translate
      }}</small>
    </p-autoComplete>
  </div>

  <div class="input-container">
    <span class="p-float-label">
      <p-calendar
        formControlName="date"
        [showIcon]="true"
        appendTo="body"
      ></p-calendar>
      <label>{{ "Date" | translate }}</label>
    </span>
    <small *ngIf="checkValidity('date')" class="p-error">{{
      "Invalid input." | translate
    }}</small>
  </div>

  <div class="input-container">
    <span class="p-float-label">
      <input formControlName="chequeNo" type="text" pInputText />
      <label>{{ "Cheque No" | translate }}</label>
    </span>
    <small *ngIf="checkValidity('chequeNo')" class="p-error">{{
      "Invalid input." | translate
    }}</small>
  </div>

  <div class="input-container">
    <span class="p-float-label">
      <input formControlName="description" type="text" pInputText />
      <label>{{ "Description" | translate }}</label>
    </span>
    <small *ngIf="checkValidity('description')" class="p-error">{{
      "Invalid input." | translate
    }}</small>
  </div>

  <div class="input-container">
    <span class="p-float-label">
      <p-dropdown
        [options]="dropdownOptions"
        formControlName="port"
        placeholder="{{ 'Port' | translate }}"
      ></p-dropdown>
    </span>
    <small *ngIf="checkValidity('port')" class="p-error">{{
      "Invalid input." | translate
    }}</small>
  </div>

  <div class="input-container">
    <span class="p-float-label">
      <p-dropdown
        [options]="banks"
        formControlName="bank"
        placeholder="{{ 'Bank' | translate }}"
      ></p-dropdown>
    </span>
    <small *ngIf="checkValidity('bank')" class="p-error">{{
      "Invalid input." | translate
    }}</small>
  </div>

  <div class="input-container">
    <span class="p-float-label">
      <input formControlName="code9072" type="number" pInputText />
      <label>{{ "Other Revenues (9072)" | translate }}</label>
    </span>
    <small *ngIf="checkValidity('code9072')" class="p-error">{{
      "Invalid input." | translate
    }}</small>
  </div>

  <div class="input-container">
    <span class="p-float-label">
      <input formControlName="code9049" type="number" pInputText />
      <label>{{ "Port and Ship (9049)" | translate }}</label>
    </span>
    <small *ngIf="checkValidity('code9049')" class="p-error">{{
      "Invalid input." | translate
    }}</small>
  </div>

  <div class="input-container">
    <span class="p-float-label">
      <input formControlName="code9050" type="number" pInputText />
      <label>{{ "Crane (9050)" | translate }}</label>
    </span>
    <small *ngIf="checkValidity('code9050')" class="p-error">{{
      "Invalid input." | translate
    }}</small>
  </div>

  <div class="input-container">
    <span class="p-float-label">
      <input formControlName="code9051" type="number" pInputText />
      <label>{{ "Other Fees (9051)" | translate }}</label>
    </span>
    <small *ngIf="checkValidity('code9051')" class="p-error">{{
      "Invalid input." | translate
    }}</small>
  </div>

  <div class="input-container">
    <span class="p-float-label">
      <input formControlName="code9083" type="number" pInputText />
      <label>{{ "Delay Raise (9083)" | translate }}</label>
    </span>
    <small *ngIf="checkValidity('code9083')" class="p-error">{{
      "Invalid input." | translate
    }}</small>
  </div>

  <div class="input-container">
    <span class="p-float-label">
      <input formControlName="code9084" type="number" pInputText />
      <label>{{ "Penalties (9084)" | translate }}</label>
    </span>
    <small *ngIf="checkValidity('code9084')" class="p-error">{{
      "Invalid input." | translate
    }}</small>
  </div>

  <div class="input-container">
    <span class="p-float-label">
      <input formControlName="code9195" type="number" pInputText />
      <label>{{ "Special Crane (9195)" | translate }}</label>
    </span>
    <small *ngIf="checkValidity('code9195')" class="p-error">{{
      "Invalid input." | translate
    }}</small>
  </div>

  <div class="input-container">
    <span class="p-float-label">
      <input formControlName="code9138" type="number" pInputText />
      <label>{{ "VAT (9138)" | translate }}</label>
    </span>
    <small *ngIf="checkValidity('code9138')" class="p-error">{{
      "Invalid input." | translate
    }}</small>
  </div>

  <div class="input-container">
    <span class="p-float-label">
      <input formControlName="code9148" type="number" pInputText />
      <label>{{ "Coastal Safety Directorate (9148)" | translate }}</label>
    </span>
    <small *ngIf="checkValidity('code9148')" class="p-error">{{
      "Invalid input." | translate
    }}</small>
  </div>
</div>
