<div class="navigation-container">
  <div
    class="container"
    [ngClass]="{ hasChildren: item.children, toggled: item.toggled }"
    *ngFor="let item of navItems"

    [appNavItem]="item"
  >
    <i class="item-icon" [class]="item.icon"></i>
    <span>{{ item.label }}</span>
    <i class="pi pi-chevron-down dropdown-icon" *ngIf="item.children"></i>

    <div class="dropdown" *ngIf="item.children">
      <span *ngFor="let child of item.children" class="child-item"
        >
        <!-- <i [class]="child.icon"></i> -->
        {{ child.label }}</span
      >
    </div>
  </div>
</div>
