.navigation-container {
  display: flex;
  padding: 0 16px;
  flex-wrap: wrap;

  justify-content: space-between;
}

.container {
  position: relative;
  box-sizing: border-box;
  justify-content: center;
  padding: 12px 16px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  cursor: pointer;
  // width: 185px;
  // margin: 0 8px;


  // box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  // background-color: #c1d3fe ;
  // box-shadow: 0px 6px 10px rgb(0 0 0 / 10%);
  align-items: center;

  .item-icon {
    color: #45496e;
    font-size: 1.25rem;
  }

  span {
    margin: 0;
    margin-left: 9px;
    color: #45496e;
    font-size: 16px;
    font-weight: 600;
  }

  .dropdown-icon {
    transition: all 0.2s ease-in-out;
    color: #45496e;
    font-size: .75rem;
    margin-left: 9px;
  }

  .dropdown {
    // display: none;
    position: absolute;
    height: 0;
    background: rgba(255, 255, 255, 0.8);
    top: 45px;
    width: 100%;
    border-radius:  0 0 12px 12px;
    opacity: 0;
    transition: all .2s ease-in-out;
  }

  &.hasChildren:hover {
    // background: #a6d5fa;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    // border-bottom: 1px solid rgba(68, 72, 109, 0.2);

    .dropdown-icon {
      transform: rotate(180deg);
    }

    .dropdown {
      // display: block;
      height: 150px;
      opacity: 1;
    }
  }

  &.toggled {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    // border-bottom: 1px solid rgba(68, 72, 109, 0.2);

    .dropdown-icon {
      transform: rotate(180deg);
    }

    .dropdown {
      // display: block;
      height: 150px;
      opacity: 1;
    }
  }
}

// .nav-item {

// }
