<div [formGroup]="form" class="form-container" *ngIf="form">
  <div class="input-container">
    <span class="p-float-label">
      <input formControlName="newPassword" type="text" pInputText />
      <label>{{ "New Password" | translate }}</label>
    </span>
    <small *ngIf="checkValidity('newPassword')" class="p-error">{{
      "Invalid input." | translate
    }}</small>
  </div>

  <div class="input-container">
    <span class="p-float-label">
      <input formControlName="newPasswordConfirm" type="text" pInputText />
      <label>{{ "New Password Confirm" | translate }}</label>
    </span>
    <small *ngIf="checkValidity('newPasswordConfirm')" class="p-error">{{
      "Invalid input." | translate
    }}</small>
  </div>

</div>
