<p-dialog
  (onShow)="onDialogShow()"
  (onHide)="onDialogHide()"
  header="{{ 'Pay' | translate }}"
  [(visible)]="displayPayTripDialog"
  [modal]="true"
  [style]="{ width: '80vw' }"
>
  <div [formGroup]="form" class="form-container" *ngIf="form">
    <div class="input-container">
      <span class="p-float-label">
        <p-dropdown
          [options]="agencyOptions"
          placeholder=" "
          optionLabel="agency"
          (onChange)="onAgencyChange($event)"
        ></p-dropdown>
        <label>{{ "Agency" | translate }}</label>
      </span>
    </div>

    <div class="input-container">
      <span class="p-float-label">
        <p-dropdown
          [options]="paymentTypes"
          formControlName="type"
          placeholder=" "
        ></p-dropdown>
        <label>{{ "Type" | translate }}</label>
      </span>
      <small *ngIf="checkValidity('type', true)" class="p-error">{{
        "Invalid input." | translate
      }}</small>
    </div>

    <div class="input-container">
      <span class="p-float-label">
        <input formControlName="refrence" type="text" pInputText />
        <label>{{ "Reference" | translate }}</label>
      </span>
      <small *ngIf="checkValidity('refrence')" class="p-error">{{
        "Invalid input." | translate
      }}</small>
    </div>
    <div class="input-container" *ngIf="this.form.controls.amount.value">
      <h1 style="margin: 0; font-size: 18px" *ngIf="!form.controls.isPaid.value">
        Are you sure you want to pay the amount:
        {{ form.controls.amount.value }} TL?
      </h1>
      
      <h1 style="margin: 0; font-size: 18px; color: red;" *ngIf="form.controls.isPaid.value">
        This invoice is paid already with the amount:
        {{ form.controls.amount.value }} TL
      </h1>

    </div>
  </div>

  <ng-template pTemplate="footer">
    <!-- Edit THIS REPORT BUTTON -->
    <p-button
    [disabled]="!form || !form.controls || (!form.controls.isPaid.value) || modalToPrint.invoiceId == -1"
      icon="pi pi-book"
      label="{{ 'Report' | translate }}"
      styleClass="p-button-text p-button-warning"
      (click)="showTelerikReport('total3', tripId, modalToPrint.isAlternative)"
    ></p-button>
    <p-button
      #button
      [disabled]="!form?.valid || form.controls.isPaid.value"
      icon="pi pi-plus-circle"
      (onClick)="submit(button)"
      label="{{ 'Submit' | translate }}"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>

<!-- Telerik Dialog -->
<p-dialog
  *ngIf="displayTelerikDialog"
  [(visible)]="displayTelerikDialog"
  [modal]="false"
  [style]="{ width: '90vw' }"
>
  <app-telerik-viewer
    [var1]="this.reportVar1"
    [var2]="this.reportVar2"
    [isAlternative]="this.reportIsAlternative"
    [input]="0"
  >
  </app-telerik-viewer>
</p-dialog>
