<div [formGroup]="form" class="form-container" *ngIf="form">
  <div class="input-container">
    <span class="p-float-label">
      <input formControlName="name" type="text" pInputText />
      <label>{{ "Name" | translate }}</label>
    </span>
    <small *ngIf="checkValidity('name')" class="p-error">{{
      "Invalid input." | translate
    }}</small>
  </div>

  <p-autoComplete
    formControlName="groupId"
    [suggestions]="filteredGroups"
    (completeMethod)="filterAutocomplete($event)"
    field="name"
    [dropdown]="true"
    appendTo="body"
    [placeholder]="translate.instant('Group')"
  >
    <ng-template let-country pTemplate="item">
      <div class="country-item">
        <div>{{ country.name }}</div>
      </div>
    </ng-template>
  </p-autoComplete>
  <div class="input-container">
    <span class="p-float-label">
      <input formControlName="orderNo" type="number" pInputText />
      <label>{{ "Order No" | translate }}</label>
    </span>
    <small *ngIf="checkValidity('orderNo')" class="p-error">{{
      "Invalid input." | translate
    }}</small>
  </div>

  <div class="input-container">
    <span class="p-float-label">
      <input formControlName="description" type="text" pInputText />
      <label>{{ "Description" | translate }}</label>
    </span>
    <small *ngIf="checkValidity('description')" class="p-error">{{
      "Invalid input." | translate
    }}</small>
  </div>
</div>
