<div class="container flex-col">
  <div class="small-cards-container">
    <div class="small-card">
      <span class="card-title">{{ "Total Ships" | translate }}</span>

      <div class="card-content">
        {{
          this.dataService.displayFormattedNumber(
            dashboardData?.totalShips,
            false
          )
        }}
      </div>
      <img src="../../assets/dashboard/green-line.svg" alt="" />
    </div>

    <div class="small-card">
      <span class="card-title">{{ "Total Captains" | translate }}</span>

      <div class="card-content">
        {{
          this.dataService.displayFormattedNumber(
            dashboardData?.totalCaptains,
            false
          )
        }}
      </div>
      <img src="../../assets/dashboard/blue-line.svg" alt="" />
    </div>

    <div class="small-card">
      <span class="card-title">{{ "Total Agencies" | translate }}</span>

      <div class="card-content">
        {{
          this.dataService.displayFormattedNumber(
            dashboardData?.totalAgencies,
            false
          )
        }}
      </div>
      <img src="../../assets/dashboard/green-line.svg" alt="" />
    </div>

    <div class="small-card">
      <span class="card-title">{{ "Products" | translate }}</span>

      <div class="card-content">
        {{
          this.dataService.displayFormattedNumber(
            dashboardData?.products,
            false
          )
        }}
      </div>
      <img src="../../assets/dashboard/blue-line.svg" alt="" />
    </div>
  </div>

  <div class="chart-container">
    <div class="pie-chart-container">
      <div class="card">
        <div class="title">
          {{ "Total Ships" | translate }}:
          {{
            this.dataService.displayFormattedNumber(
              dashboardData?.totalShips,
              false
            )
          }}
        </div>
        <p-chart
          type="doughnut"
          [data]="data"
          [options]="chartOptions"
        ></p-chart>
      </div>
    </div>
    <div class="pie-chart-container">
      <div class="card">
        <div class="title">
          {{ "In Port Ships" | translate }}:
          {{
            this.dataService.displayFormattedNumber(
              dashboardData?.inPortShips,
              false
            )
          }}
        </div>
        <p-chart
          type="doughnut"
          [data]="data2"
          [options]="chartOptions"
        ></p-chart>
      </div>
    </div>
    <div class="payment-card">
      <div class="header"><p>Invoices</p></div>
      <div style="padding: 16px">
        <p-timeline [value]="invoices">
          <ng-template pTemplate="marker" let-event>
            <span
              class="custom-marker p-shadow-2"
              [style.backgroundColor]="event.color"
            >
              <i [ngClass]="event.icon"></i>
            </span>
          </ng-template>

          <ng-template pTemplate="content" let-event>
            <div class="invoice-list">
            <span>{{ event.status }}</span>
            <p>${{ event.amount }}</p>
            </div>
          </ng-template>
        </p-timeline>
      </div>
    </div>
  </div>
</div>

<app-update-currency
  [display]="displayCurrencyDialog"
  #currecyDialog
></app-update-currency>

<div (click)="displayDevelopers = true" class="developers">
  <i class="fas fa-question-circle"></i>
</div>

<p-dialog
  header=""
  [(visible)]="displayDevelopers"
  [style]="{ width: 'auto', padding: '0px' }"
>
  <div class="dev-title">
    <img src="../../assets/cloudsoft-logo.png" height="40px" alt="" />
    <span> Cloudsoft Front-End Developers </span>
  </div>

  <div style="margin-top: 8px">
    <div class="dev-item">Amro Mobayed</div>
    <div class="dev-item">Sami Habbaba</div>
  </div>

  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="displayDevelopers = false"
      label="Ok"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>
