.container {
  padding: 16px 8px;
}

.payment-card {
  flex: 1;
  margin: 0.5rem;
  height: 6rem;
  border-radius: 12px;
  padding: 14px 12px;
  position: relative;
  background: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  margin-bottom: 16px;
  height: max-content;

  .header {
    // padding: 16px;
    font-weight: 500;
    line-height: 24px;
    p {
      margin: 0;
    }
  }
}

.small-cards-container {
  display: flex;

  flex-wrap: wrap;

  .small-card {
    flex: 1;
    margin: 0.5rem;
    height: 6rem;
    border-radius: 12px;
    padding: 14px 12px;
    position: relative;
    background: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    margin-bottom: 16px;

    .card-title {
      font-weight: 500;
      font-size: 18px;
      line-height: 14px;
    }

    .card-content {
      padding-top: 8px;
      justify-content: space-between !important;
      display: flex !important;

      font-size: 30px;
      line-height: 35px;
    }

    img {
      position: absolute;
      bottom: 14px;
      right: 12px;
    }
  }
}

.chart-container {
  display: flex;
  .pie-chart-container {
    // flex: 1;
    width: 25vw;
    padding: 0.5rem;

    .card {
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.9);
      padding: 16px;
      box-sizing: border-box;
      margin-bottom: 16px;

      .title {
        font-weight: 500;
        line-height: 24px;
      }

      p-chart {
        width: 400px;
      }
    }
  }
}

.accordion-container {
  display: flex;

}

.acc-card {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.9);
  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 16px;
  margin-left: 8px;
  margin-right: 8px;
  .title {
    font-weight: 500;
    line-height: 24px;
  }
}

.dev-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.title-text {
  font-weight: 800;
  font-size: 21px;
  margin: 16px;
}

.dev-item {
  display: flex;
  line-height: 2.5rem;
  justify-content: center;
  font-size: 18px;
  align-items: center;
  font-weight: 500;
  // border: 1px solid rgba(68, 72, 109, 0.2);
  &:hover {
    background: rgba(68, 72, 109, 0.07);
  }
}

.developers {
  position: absolute;
  right: 8px;
  bottom: 8px;
  font-size: 20px;
  color: rgba(68, 72, 109, 0.5);
  cursor: pointer;
  &:hover {
    color: #0f8bfd;
  }
}

.custom-marker {
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 50%;
  z-index: 1;
}

.invoice-list {
  color: #44486d;
  display: flex;
  p {
    margin: 0;
    margin-left: auto;
    color: rgb(0, 208, 222);
  }
}

.detail-item {
  display: flex;
  align-items: center;
  h2 {
    font-size: 16px;
    color: #44486d;
  }

  p {
    color: #8a8ea6;
  }
}
