<div class="container flex-col">
  <div class="small-cards-container">
    <div class="small-card">
      <span class="card-title">Total Ships</span>

      <div class="card-content">35</div>
      <img src="../../assets/dashboard/green-line.svg" alt="" />
    </div>

    <div class="small-card">
      <span class="card-title">Total Ships</span>

      <div class="card-content">35</div>
      <img src="../../assets/dashboard/blue-line.svg" alt="" />
    </div>

    <div class="small-card">
      <span class="card-title">Total Ships</span>

      <div class="card-content">35</div>
      <img src="../../assets/dashboard/green-line.svg" alt="" />
    </div>

    <div class="small-card">
      <span class="card-title">Total Ships</span>

      <div class="card-content">35</div>
      <img src="../../assets/dashboard/blue-line.svg" alt="" />
    </div>
  </div>

  <div class="chart-container">
    <div class="pie-chart-container">
      <div class="card">
        <div class="title">Total Ships</div>
        <p-chart
          type="doughnut"
          [data]="data"
          [options]="chartOptions"
        ></p-chart>
      </div>
    </div>
    <div class="pie-chart-container">
      <div class="card">
        <div class="title">Total Ships</div>
        <p-chart
          type="doughnut"
          [data]="data"
          [options]="chartOptions"
        ></p-chart>
      </div>
    </div>
  </div>
</div>
