<div style="padding-top: 16px">
  <p-table *ngIf="crane" [value]="crane.payments" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Invoice 1</th>
        <th>Invoice 2</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.date  }}</td>
        <td>
          <button
            pButton
            pRipple
            type="button"
            label="Report"
            class="p-button-warning p-button-text"
            (click)="showTelerikReport('crane/payment',product.id,false)"
          ></button>
        </td>
        <td>
          <button
            pButton
            pRipple
            type="button"
            label="Report"
            class="p-button-warning p-button-text"
            (click)="showTelerikReport('crane/payment',product.id,true)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>





<!-- Telerik Dialog -->
<p-dialog
  *ngIf="displayTelerikDialog"
  [(visible)]="displayTelerikDialog"
  [modal]="false"
  [style]="{ width: '90vw', top:'-30vh'}"
  [contentStyle]="{minHeight: '80vh'}"
>
  <app-telerik-viewer
    [var1]="this.reportVar1"
    [var2]="this.reportVar2"
    [isAlternative]="this.reportIsAlternative"
    [input]="0"
  >
  </app-telerik-viewer>
</p-dialog>

