@font-face {
  font-family: "SegoeUI";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Segoe\ UI.ttf");
}

@font-face {
  font-family: "SegoeUI-Bold";
  font-style: normal;
  font-weight: bold;
  src: url("./assets/fonts/Segoe\ UI\ Bold.ttf");
}

@font-face {
  font-family: "SegoeUI-BoldItalic";
  font-style: italic;
  font-weight: bold;
  src: url("./assets/fonts/Segoe\ UI\ Bold\ Italic.ttf");
}

@font-face {
  font-family: "SegoeUI-Italic";
  font-style: italic;
  font-weight: normal;
  src: url("./assets/fonts/Segoe\ UI\ Italic.ttf");
}

* {
  font-family: "SegoeUI";
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(180deg, #f6f9fc 0%, #ececf9 100%);
}

.page-wrapper {
  min-height: 100vh;
  background: url(./assets/main-bg.png);
  background-repeat: no-repeat;
  // width: 100vw;
  overflow-x: hidden;
}

.toolbar {
  background: transparent !important;
  border: none !important;
  justify-content: center !important;
  position: relative;
}

.language-menu {
  .p-submenu-header {
    display: none;
  }
}

.content-wrapper {
  padding: 16px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
  display: flex;
}

.currency-sidebar {
  background: url(./assets/backgrounds/port.jpg) !important;
  object-fit: contain !important;
}

.p-multiselect {
  background: rgba(68, 72, 109, 0.07) !important;
  border: none !important;
  border-radius: 8px !important;

  .p-multiselect-label-container {
    display: none !important;
  }

  .p-multiselect-label,
  .p-multiselect-trigger {
    height: 40px !important;
    color: #44486d !important;
  }
}
